@font-face {
  font-family: "Nexa Light";
  src: url("~@/assets/fonts/Nexa-Font/Nexa-Light.otf");
  font-weight: light;
  font-style: light;
}

@font-face {
  font-family: "Nexa Regular";
  src: url("~@/assets/fonts/Nexa-Font/NexaRegular.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Nexa Book";
  src: url("~@/assets/fonts/Nexa-Font/Nexa-Book.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}